.sell_title {
  float: left;
  width: 75px;
  height: 38px;
  line-height: 38px;
  font-size: 15px; }

.sell_content {
  float: left;
  width: 440px;
  height: 38px;
  line-height: 38px;
  font-size: 15px; }
  .sell_content select {
    border: #d8d8d8 1px solid;
    font-family: Nanum-Gothic;
    FONT-SIZE: 15px;
    width: 320px;
    height: 28px;
    padding-left: 5px;
    color: #888; }
  .sell_content input {
    float: left;
    margin-top: 5px;
    width: 53px;
    height: 14px;
    border: #d8d8d8 1px solid;
    padding: 7px 0;
    color: #888;
    text-align: center; }
  .sell_content a {
    display: inline-block;
    width: 20px;
    height: 30px;
    overflow: hidden;
    margin-left: 5px;
    text-indent: 20px;
    background-image: url(../img/qty_sprite.png);
    margin-top: 5px; }
  .sell_content .add {
    background-position: 0 -30px; }

#cnt .pos {
  height: 34px;
  line-height: 34px;
  margin: 75px 0 30px 135px;
  color: #888;
  font-size: 14px; }
  #cnt .pos a {
    color: #888;
    font-size: 14px; }
    #cnt .pos a:hover {
      color: #33b0f0;
      text-decoration: underline; }
#cnt form {
  margin-left: 135px;
  color: #2b2b2b;
  font-size: 12px; }
  #cnt form .good_img {
    float: left;
    width: 315px; }
  #cnt form .good_detail {
    float: left;
    width: 515px; }
    #cnt form .good_detail .good_title {
      border-bottom: #e6e6e6 1px dashed;
      margin-bottom: 20px; }
      #cnt form .good_detail .good_title strong {
        font-size: 15px;
        line-height: 20px;
        display: block; }
      #cnt form .good_detail .good_title h1 {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #888;
        margin-right: 10px; }
    #cnt form .good_detail .good_price .price_content {
      float: left;
      width: 440px;
      height: 38px;
      line-height: 38px;
      font-size: 15px; }
    #cnt form .good_detail .good_buy {
      margin-top: 24px; }
      #cnt form .good_detail .good_buy a {
        display: inline-block;
        width: 160px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        float: left;
        margin-right: 10px; }
      #cnt form .good_detail .good_buy .clc_btn {
        background: #8c8c8c; }
      #cnt form .good_detail .good_buy .car_btn {
        background: #e0a4ae; }
      #cnt form .good_detail .good_buy .code_btn {
        display: inline-block;
        width: 100px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        border: 1px solid #ddd;
        background: url(../img/qrcode_icon.jpg) no-repeat 12px 50%;
        padding-left: 50px;
        position: relative;
        cursor: pointer; }
        #cnt form .good_detail .good_buy .code_btn i {
          background: url(../img/arrow_down_icon.png) no-repeat 50% 50%;
          display: inline-block;
          margin-left: 10px;
          width: 14px; }
        #cnt form .good_detail .good_buy .code_btn .codebox {
          position: absolute;
          left: -1px;
          top: 43px;
          display: none;
          height: 150px;
          width: 150px;
          border: 1px solid #ddd;
          border-top: 0; }
          #cnt form .good_detail .good_buy .code_btn .codebox img {
            width: 140px;
            height: 140px;
            padding: 5px; }
        #cnt form .good_detail .good_buy .code_btn:hover .codebox {
          display: block; }
#cnt .good_nav {
  margin: 70px 0;
  background: #f7f7f7;
  text-align: center; }
  #cnt .good_nav a {
    display: inline-block;
    width: 214px;
    height: 68px;
    overflow: hidden;
    text-decoration: none;
    padding-top: 22px;
    font-size: 14px;
    margin-right: -1px; }
    #cnt .good_nav a span {
      color: #000;
      font-family: 'Exo 2',sans-serif;
      font-size: 16px; }
    #cnt .good_nav a strong {
      color: #6f6f6f;
      font-weight: bold; }
    #cnt .good_nav a:hover span, #cnt .good_nav a:hover strong {
      color: #C33; }
  #cnt .good_nav b {
    display: inline-block;
    width: 1px;
    height: 50px;
    overflow: hidden;
    text-indent: 1px;
    line-height: 50px;
    background: #e6e6e6;
    margin: 20px 0; }
#cnt ul li .good_info {
  text-align: center;
  margin-bottom: 20px; }
#cnt ul li .good_imgs img {
  display: block;
  margin: 0 auto 30px; }

/*# sourceMappingURL=produce.css.map */
